

<!-- <audio src= "<%= @Audio_URL %>" controls></audio> -->
<br>


<% i=0 %> 
<% @SpeechContextArray.each do |speech_context| %>
 <span id =sentence_<%= i %> > <%= @SpeechTimeArray[i] %> : <%= speech_context %></span><br>
 <% i+=1 %> 
<% end %>




<br><br>

  <div id="audio_player" host_url =  "<%= @Audio_URL %>" ></div>
<script type="text/javascript">

var speech_time_array = [];
<% i=0 %> 
<% @SpeechTimeArray.each do |speech_time| %>
 speech_time_array[<%= i %>]= <%= speech_time %>;
 <% i+=1 %> 
<% end %>


</script>

 <script src="/assets/Audio/audioplayer.js"></script>
  Audio play time = <span id="audio_time">play time</span><br>
  number of sentenc = <span id="sentence_id">sentenceid</span>



<div id="tmp">
  <% @SpeechContextArray.each_with_index do |speech_context, i| %>
   <span id =sentence_<%= i %> > <%= @SpeechTimeArray[i] %> : </span>
   <span class="target"><%= speech_context %></span><br>
  <% end %>
</div>



<br><br>

<div id="audio_player" host_url =  "<%= @Audio_URL %>" ></div>

<script type="text/javascript">

  var list = $('#tmp').find('span.target').text();


  //var speech_time_array = [];
  //<% i=0 %> 
  //<% @SpeechTimeArray.each do |speech_time| %>
  // speech_time_array[<%= i %>]= <%= speech_time %>;
  // <% i+=1 %> 
  //<% end %>


</script>
